<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Semantic Search Dashboard</title>
</head>
<body>
<header>
    <h1>Semantic Search Dashboard</h1>
</header>

<main>
    <div class="search-sections">

        <section class="search-section">
            <h2>Semantic Search</h2>
            <form action="/search" method="post">
                <div class="form-group">
                    <label for="query">Enter your query:</label>
                    <input type="text" id="query" name="query" placeholder="Type your query here" required>
                </div>
                <button type="submit" class="submit-btn">Search</button>
            </form>
        </section>

        <section class="search-section">
            <h2>Peer Search</h2>
            <form action="/peer_search" method="post">
                <div class="form-group">
                    <label for="symbol">Enter company symbol:</label>
                    <input type="text" id="symbol" name="symbol" placeholder="e.g., AAPL" required>
                </div>
                <button type="submit" class="submit-btn">Search</button>
            </form>
        </section>

    </div>

    <section id="results-section">
        <div class="results-header">
            <h2>Results</h2>
            <div class="country-filter">
                <input type="text" id="country-filter" placeholder="Filter by country (e.g., US)">
            </div>
        </div>
        <table id="results-table">
            <thead>
            <tr>
                <th>Score</th>
                <th>Symbol</th>
                <th>Company</th>
            </tr>
            </thead>
            <tbody id="results-list"></tbody>
        </table>
    </section>
    <script src="../static/results_list_script.js"></script>
</body>
</html>
